
body {
    background-color: beige;
}

h1, h2 {
    color: red;
}

h1 {
    letter-spacing: 3px;
}

p {
    text-align: justify;
    font-size: 15pt;
}

p strong {
    color: green;
}

p em {
    color: orange;
}

p strong em,
p em strong {
    color: brown;
}

a {
    letter-spacing: 5px;
}